@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    
}
:root{
    --font-padrao: "Open Sans", sans-serif;
}
body{
    font-family: var(--font-padrao);
    background-color: black;
}
.cabeçalho{
    background-color: #C4170C;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "titulo search";
    height: 70px;
    
    /* position: sticky;
    top: -4px; */
}
h1{
    margin-top: 10px;
    grid-area: titulo;
    color: white ;
    justify-self: end;
    text-align: center;
}
#isearch{
    background-color: #A7140A;
    color: white;
    text-indent: 5px;
   grid-area: search;
   max-width: 150px;
   margin-top: 30px;
   margin-right:80px;
   border: none;
   height: 35px;
   justify-self: end;
   border-radius: 10px;


}
::placeholder{
    color: white;
    font-weight: bolder;
    text-align: center;
}


.principal{
    display: grid;
    grid-template-columns: 1fr minmax(600px, 800px) 1fr;
    grid-template-areas: 
    "sidenav content noticias"
    "sidenav content noticias"
    "footer footer footer";
    background-attachment: fixed;
}
.principal > main{
    
    background-color: white;
    justify-self: center;
}
h2{
    color: #A7140A;
    text-align: justify;
    text-indent: 10px;
    padding: 10px;
}
p{
    text-align: justify;
    padding: 5px;
}
.p-margin{
    font-size: 17px;
    margin: 40px 0px 40px 0px;
}
#by{
    font-size: 14px;
}
span{
    font-size: 12px;
}
mark#lais{
    background-color: transparent;
    color: #C91747;
    font-weight: bold;
}
/*======== BOTOES =========*/
.social{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

}
.botoes{
    background-color: #F5F6F7;
    width: 80%;
    height: 50px;
    border-radius: 20px;
}
.icones{
    max-width: 40px;
    margin-top: 5%;
    margin-left: 40%;
}


.anotaçao{
    margin:20px 0px 20px 0px;
    border-top: 2px solid  rgba(59, 59, 59, 0.578);
    border-bottom: 2px solid rgba(59, 59, 59, 0.578);
    padding: 20px;
    font-weight: bolder;
    font-size: 18px;
}
.lista{
    list-style-position: inside;
    margin-left: 10px;
    padding: 10px;    
}
legend{
    text-align: center;
    font-size: 13px;
}
fieldset img{
    margin-left: 30%;
    padding-top: 10px;
}
/*=================================*/
/* =================AREA DE NOTICIAS============== */
.noticias{
    grid-area: noticias;
   
    background-color:white;
    
}
.nt1{
    border-radius: 30px;
    max-width: 300px;
    padding: 10px;
    margin-left: 10px;
    box-sizing: border-box;
}
article div{
    border-bottom: 1px solid rgba(0, 0, 0, 0.249);
}
.nt1:hover{
    transform: translate(3px, 3px);
    transition: .2s;
    cursor: pointer;

}
.sub-da-noticia{
    font-size: 18px;
    text-align: justify;
    padding-left: 10px;
    margin: 0;
}
.p-ntc{
    text-indent: 16px;
}
.lista-noticia{
    list-style-position: inside;
    padding-left: 16px;
    font-size: 14px;
    color: #C91747;
    padding-bottom: 10px;
}
/* ======== SIDENAV =========*/
.sidenav{
    grid-area: sidenav;
    background-color: white;
}
.sidenav ul {
    align-self: start;
    background-color: rgba(230, 230, 230, 0.17);
}
.sidenav li{
    text-align: center;
    font-size: 1em;
    list-style: none;
    
}
.sidenav li + li{
    border-top: 2px solid rgba(122, 122, 122, 0.192);
}
.footer{
    background-color: #A7140A;
    color: white;
    font-size: 1em;
}